body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
  font-family: 'Open Sans', sans-serif;

}

.link{
	text-decoration: none;
	padding: 21px;/*poner las letras al centro*/
}
.flex-container{
	display: flex;
}
/*Menu*/
.menu{
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 13%;
}
.menu.flex-container{
	justify-content: flex-start;
}
.logo-container{
	margin-left: auto;
	margin-right: 20px;
}
.flex-container .logo{
	width: 70px;
	height: 70px;
}
/*home*/
#home{
	height: 600px;
	margin-top: 70px;
	/*para la imagen*/
	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*para el texto*/
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: whitesmoke;
}
 .text-home{
 	font-size: 2.4em; /*tamaño de la letra*/
 }
 .btn-home{
 	color: white;
 	text-decoration: none;
 	background: green;
 	padding: 1%;
 }
 /*SERVICES*/
 #services{
 	background-color: #f17c72;
 	text-align: center;
 	color: white;
 	padding: 70px;
 }
/*hace que las 3 imagenes bayan abajo y centrado*/
#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}
.box-services{
	font-size: 1.2em;
	font-weight: bold;
}
/*ETAPA DEL FOOTER*/
#footer{
	background-color: black;
	height: 70px;
	padding-top: 5px;/*para unir tu footer con el seccion*/
	color: white;
	text-align: center;
}
